@import './variables.scss';
@import './mixin.scss';

.hero {
    position: relative;

    &-container {
        position: relative;
    }

    &__wrapper {
        position: relative;
    }

    &__empty {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 112px;
        background-color: #111111;
        z-index: 1;

    }

    &__content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 96px 100px 98px 64px;
        z-index: 5;

        background-image: url('../assets/img/png/Mask Group.webp');
        background-repeat: no-repeat;
        background-position: right 0 top 97%;

        &-top {
            margin-bottom: 112px;

            &-title {
                margin-bottom: 37px;
                font-weight: $font-weight-700;
                font-size: 144px;
                line-height: 152px;
                color: $fontWhiteColor;
            }

            &-descr {
                max-width: 50%;
                font-weight: $font-weight-400;
                font-size: $font-size-24;
                line-height: 28px;
            }
        }

        &-bottom {
            margin-bottom: 110px;

            &-title {
                margin-bottom: 7px;
                font-weight: $font-weight-700;
                font-size: 36px;
                line-height: 43px;
            }

            &-descr {
                max-width: 68%;
                font-weight: $font-weight-400;
                font-size: $font-size-18;
                line-height: 21px;
            }
        }
    }

    @media(max-width: 1366px) {
        &__content {
            background-size: 50% auto;
            background-position: right 70px top 99%;

            &-top {
                &-title {
                    margin-bottom: 24px;
                    font-weight: $font-weight-700;
                    font-size: 118px;
                    line-height: 140px;
                    color: $fontWhiteColor;
                }
            }
        }
    }

    @media(max-width: 992px) {
        &__content {
            padding: 60px 25px 98px 64px;
            background-size: 50% auto;
            background-position: right 20px top 99%;

            &-top {
                &-title {
                    margin-bottom: 24px;
                    font-weight: $font-weight-700;
                    font-size: 67px;
                    line-height: 87px;
                    color: $fontWhiteColor;
                }

                &-descr {
                    max-width: 69%;
                }
            }

            &-bottom {
                &-title {
                    font-size: 28px;
                }

                &-descr {
                    max-width: 65%;
                    font-size: $font-size-24;
                    line-height: $line-height-28;
                }
            }
        }
    }


    @media(max-width: 576px) {
        &__content {
            background-size: 63% auto;
            background-position: right 0 top 99%;
            padding: 39px 15px 15px 36px;

            &-top {
                margin-bottom: 25px;

                &-title {
                    margin-bottom: 16px;
                    font-weight: $font-weight-700;
                    font-size: 37px;
                    line-height: 51px;
                    color: $fontWhiteColor;
                }

                &-descr {
                    max-width: 100%;
                }
            }

            &-bottom {
                margin-bottom: 366px;

                &-title {
                    font-size: 34px;
                }

                &-descr {
                    max-width: 100%;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
    }
}