@import './variables.scss';

@mixin similarStyles {
  font-weight: $font-weight-400;
  font-size: $font-size-18;
  line-height: $line-height-24;
  color: $fontWhiteColor;
  cursor: pointer;
}

@mixin similarStyles-2 {
  font-weight: $font-weight-400;
  font-size: $font-size-18;
  line-height: $line-height-21;
}

@mixin similarStyles-3 {
  font-weight: $font-weight-400;
  font-size: $font-size-36;
  line-height: $line-height-43;
}